<h1 class="text-center text-warning mt-3">
    {{ title }}
</h1>

<div class="container mt-3">
    <h2 class="text-center text-info"> Lista de Tareas</h2>
    <ul class="list-group w-50 mx-auto mt-2">
        @for (tarea of tareas; track $index) {
        <li class="list-group-item text-center"> {{tarea}}</li>
        }

    </ul>
    <h3 class="text-info text-center">Agregar Tarea</h3>
    <div class="mt-4 d-flex justify-content-center">
        <input type="text" #tareaInput class="form-control " style="width: 30%;" placeholder="Escribe una tarea" />
    </div>
    <div class=" mt-4 d-flex justify-content-center">
        <button class="btn btn-primary" (click)="agregarTarea(tareaInput.value); tareaInput.value='' ">
            Agregar Tarea
        </button>
    </div>

</div>